<!DOCTYPE web-app>

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <!--配置强制登录-->
  <filter>
    <filter-name>FilterName</filter-name>
    <filter-class>filter.ForceLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterName</filter-name>
    <url-pattern>/address/*</url-pattern>
  </filter-mapping>
  <!--<filter>
    <filter-name>FilterName1</filter-name>
    <filter-class>filter.ForceLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterName1</filter-name>
    <url-pattern>/main/*</url-pattern>
  </filter-mapping>-->

  <!-- 激活struts2 -->
  <filter>
    <filter-name>Struts2Filter</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Struts2Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
